@page

@model Practica_Final.Pages.Dashboard.IndexModel
@{
    ViewData["Title"] = "Dashboard";
}
<div class="main-wrapper main-wrapper-1">
    <div class="navbar-bg"></div>
   
    <!-- Main Content -->
    <div class="main-content" style="min-height: 239px;">
        <section class="section">
            <div class="row ">
                @foreach (var cuenta in @Model.Cuentas)
                {
                    { }
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="card">
                            <div class="card-statistic-4">
                                <div class="align-items-center justify-content-between">
                                    <div class="row ">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                            <div class="card-content">
                                                <h5 class="font-15">@Html.DisplayFor(x=> @cuenta.NumeroCuenta)</h5>
                                                <h2 class="mb-3 font-18"> @cuenta.Monto.ToString("C", System.Globalization.CultureInfo.CurrentCulture)</h2>
                                                <p class="mb-0"><span class="col-green">*</span> @Html.DisplayTextFor(x=> cuenta.TipoCuenta.Tipo)</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                            <div class="banner-img">
                                                <img src="assets/img/banner/1.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>


            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Assign Task Table</h4>
                            <div class="card-header-form">
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th class="text-center">
                                                <div class="custom-checkbox custom-checkbox-table custom-control">
                                                    <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad" class="custom-control-input" id="checkbox-all">
                                                    <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
                                                </div>
                                            </th>
                                            <th>Cuenta Destinatario</th>
                                            <th>Nombre destinatario</th>
                                            <th>Cuenta Remitente</th>
                                            <th>Nombre Remitente</th>
                                            <th>Fecha</th>
                                            <th>Estado</th>
                                            <th>Monto</th>
                                            <th></th>
                                        </tr>

                                        @foreach (var transfH in Model.transferencias)
                                        {
                                            //var UsuarioRemitente = string.Format($"{transfH.CuentaBancariaRemitente.Usuario.Nombre} + {transfH.CuentaBancariaRemitente.Usuario.Apellido}"); 
                                                <tr>
                                                    <td class="p-0 text-center">
                                                    <div class="custom-checkbox custom-control">
                                                        <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-6">
                                                        <label for="checkbox-6" class="custom-control-label">&nbsp;</label>
                                                    </div>
                                                </td>
                                                <td>@transfH.CuentaBancariaDestinatario.NumeroCuenta</td>
                                                <td>
                                                    @*@Html.DisplayFor(modalItem => Model.GetUserNameBy(transfH.CuentaBancariaDestinatario))*@
                                                    @Html.DisplayFor(modalItem => transfH.CuentaBancariaDestinatario.Usuario.Nombre)
                                                    @Html.DisplayFor(modalItem => transfH.CuentaBancariaDestinatario.Usuario.Apellido)
                                                </td>
                                                <td>@Html.DisplayFor(modalItem => transfH.CuentaBancariaRemitente.NumeroCuenta)</td>
                                                <td>
                                                    @Html.DisplayTextFor(x=> transfH.CuentaBancariaDestinatario.Usuario.Nombre)
                                                </td>
                                                <td>@Html.DisplayFor(modalItem => transfH.Fecha)</td>
                                                <td>@transfH.Monto.ToString("C", System.Globalization.CultureInfo.CurrentCulture)</td>

                                                <td>
                                                    @switch (transfH.Estado)
                                                    {
                                                        case 3:
                                                            <div class="badge badge-danger">Denegado</div>
                                                            break;
                                                        case 2:
                                                            <div class="badge badge-info">En proceso</div>
                                                            break;
                                                        case 1:
                                                            <div class="badge badge-success">Aprovado</div>
                                                            break;
                                                    }
                                                </td>
                                                <td>
                                                    @*<a href="/Dashboard/Transacciones/Details?id=@transfH.Id" class="btn btn-outline-primary btn-details">
            Detalle
        </a>*@
                                                    <button class="btn btn-outline-primary details" data-id="@transfH.Id" data-toggle="modal" data-target="#details-modal">Detalle</button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>
    
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="details-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Product Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $('button.details').on('click', function () {
                $('.modal-body').load(`Dashboard/Transacciones/Details?id=${$(this).data('id')}`);
            });
        })
    </script>
}